$dark: #000;
$white: #fff;
$orange: #FA9108;
$dark-grey: #313131;
$darker-grey: #212121;
$light-grey: #A5A5A5;

$colour-bg-main: $dark;
$colour-bg-light: $white;
$colour-btn-label-light: $white;
$colour-btn-label-dark: $dark;